<!DOCTYPE html>
<html>
<head>
  <title>Getintoit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
	<%=	render 'sessions/logout' %>
<% else %>
	<%= render 'sessions/new' %>
	<%= render 'users/new' %>
<% end %>

<% if flash[:alert] %>
	<div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= yield %>

</body>
</html>
